/** Resume Table */

#resume-data {
  background-color: #d7c7c7;
  border: 2px solid #bd8f8f;
  width: 70%;
  height: 360px;
  margin: 0px auto;
}

#header-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20%;
}

#btnReturn {
  display: block;
  position: relative;
  height: 55px;
  width: 55px;
  cursor: pointer;
}

#body-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 60%;
}

.data {
  text-align: center;
}

.data > h3 {
  font-weight: bold;
}

#footer-info {
  display: flex;
  height: 19%;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.grpBtn > input[type="button"] {
  padding: 20px 50px;
  color: aliceblue;
  font-size: 1rem;
  font-weight: 600;
  border: 2px solid #1a1a1a;
  border-radius: 10px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

#popupBody {
  width: 46%;
  padding: 2%;
  border-radius: 15px;
  box-shadow: 0 0 5px #ccc;
  background: #fff;
  position: relative;
  margin: 20% auto;

  transition: all 5s ease-in-out;
}
/* 
#close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #f00;
  transition: all 200ms;
} */

#img-loading {
  height: 60px;
  padding: 10px;
}

#img-stateAccess{
  height: 60px;
}

#popupBodyOver {
  display: flex;
  flex-direction: column;
  align-items: center;
}



#btnCancel {
  height: 60px;
  width: 120px;
  background-color: rgb(176, 63, 77);
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  border: 0px;
  text-align: center;
  border-radius: 10px;
  transition: 0.2s;
}

#btnCancel  {
  height: 65px;
  width: 125px;
  background-color: rgb(170, 64, 64);
  transition: 0.2s;
  cursor: pointer;
}