<div id="resume-data">
  <span id="header-info">
    <img
      id="btnReturn"
      (click)="onReturnList()"
      src="assets/img/arrows.svg"
      alt="Img arrow return"
    />
    <h1>#Expediente</h1>
    <h1 id="id-exp">#{{ this.onSelectPerson!.expedient || "----" }}</h1>
    <div [ngSwitch]="this.stateAccess">
      <img *ngSwitchDefault id="img-stateAccess" src="assets/img/lock.svg" alt="Img of state of access">
      <img *ngSwitchCase="'default'" id="img-stateAccess" src="assets/img/lock.svg" alt="Img of state of access">
      <img *ngSwitchCase="'pending'" id="img-stateAccess" src="assets/img/waiting.svg" alt="Img of state of access">
      <img *ngSwitchCase="'accepted'" id="img-stateAccess" src="assets/img/unlock.svg" alt="Img of state of access">
      <img *ngSwitchCase="'loading'" id="img-stateAccess" src="assets/img/loading.gif" alt="Img of state of access">
    </div>
  </span>
  <div id="body-info">
    <div class="data">
      <h2>Nombre</h2>
      <h4>{{ this.onSelectPerson!.name || "----" }}</h4>
    </div>
    <div class="data">
      <h2>Ultima Revision</h2>
      <h4>----</h4>
    </div>
    <div class="data">
      <h2>Apellido M.</h2>
      <h4>{{ this.onSelectPerson!.fsurname || "----" }}</h4>
    </div>
    <div class="data">
      <h2>Apellido P.</h2>
      <h4>{{ this.onSelectPerson!.lsurname || "----" }}</h4>
    </div>
  </div>
  <div id="footer-info">
    <div class="grpBtn">
      <input
        type="button"
        id="btnDetails"
        style="background-color: #2d9bf0"
        value="Ver Detalles"
        (click)="goToExpedient()"
      />
    </div>
    <div class="grpBtn">
      <input
        type="button"
        id="btnRequest"
        style="background-color: #0c71bf"
        value="Solicitar Acceso"
        (click)="requestAccess()"
      />
    </div>

    <div id="popup" class="overlay">
      <div id="popupBody">
        <div id="popupBodyOver">
          <h2>Esperando en confirmar la solicitud</h2>
          <img
            id="img-loading"
            src="assets/img/loading.gif"
            alt="Img loading"
          />
          <br>
          <div class="popupContent">
            <button id="btnCancel" (click)="this.onCloseWait()">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
