header {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

header > h1, header > h2{
  color:#331e1e;
  font-weight: bold;
}

#title {
  text-align: center;
  color: #1a1a1a;
  margin: 10px;
}

#logout {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  width: 30px;
  cursor: pointer;
  
}

#user {
  margin-left: 20px;
  padding: 5px;
  position: absolute;
  width: 9rem;
  z-index: 1;
  background-color: #37b7df;
  border-radius: 10px;
  box-shadow: 10px 10px 10px #1379ee;
}

#img-user {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 120px;
  width: 120px;
}

#input-user {
  margin-top: 20px;
}

#input-Id {
  height: 100px;
  width: 600px;
  padding-top: 10px;
  padding: 10px;
  text-align: center;
  font-size: 3rem;
  border-radius: 15px;
  border: 1px solid rgb(25, 140, 206);
  background-color: #7ad1f3;;
  transition: 0.2s;

}

#input-Id:focus {
  transition: 0.2s;
  outline: none;
  background-color: white;
  border: 3px solid #ffffff; 

}

#btnReload {
  margin-top: 35px;
  margin-left: 555px;
  position: absolute;
  max-height: 50px;
  max-width: 50px;
  cursor: pointer;
}


#main-data {
  padding-top: 50px;
  font-family: "Merriweather", serif;
  color: #1a1a1a;
}

