<div id="user">
  <img id="img-user" src="assets/img/nurse.svg" alt="Usuario Trabajador" />
  <h3 id="title">{{ this.name }}</h3>
  <img id="logout" (click)="this.logOut()" src="assets/img/logout.svg" />
</div>
<header>
  <h1>Búsqueda de expedientes</h1>
  <h2>#Expediente / Nombre</h2>
  <span id="input-user">
    <!-- ! Improve this later -->
    <img
      id="btnReload"
      [@rotatedState]="state"
      (click)="reload()"
      src="assets/img/reload.svg"
      alt="Img reload"
    />
    <input
      type="text"
      id="input-Id"
      name="input-Id"
      (keyup)="setSearch($event)"
    />
  </span>
</header>

<main>
  <div id="main-data">
    <app-list-exp [search]="this.search"></app-list-exp>
  </div>
</main>
