<div id="user">
  <img id="img-user" src="assets/img/nurse.svg" alt="Usuario Trabajador" />
  <h3 id="title">{{ this.name }}</h3>
  <img id="logout" (click)="this.logOut()" src="assets/img/logout.svg" />
</div>
<header>
  <h1>Búsqueda de expedientes</h1>
  <h2>#Expediente / Nombre</h2>

  <span id="input-user">
    <!-- ! Improve this later -->
    <img
      id="btnReload"
      [@rotatedState]="state"
      (click)="reload()"
      src="assets/img/reload.svg"
      alt="Img reload"
    />
    <input
      type="text"
      id="input-Id"
      name="input-Id"
      (keyup)="onKey($event)"
      [disabled]="this.searchAvailable"
    />
  </span>
</header>

<main>
  <div id="main-data">
    <div *ngIf="!this.person; then applist; else appresume"></div>
    
    <ng-template #applist>
      <app-list-exp
        [search]="this.search"
        (onSelect)="this.person = $event; this.searchAvailable = true"
      ></app-list-exp>
    </ng-template>
    <ng-template #appresume>
      <app-resume-exp
        [onSelectPerson]="this.person"
        (returnList)="this.person = null; this.searchAvailable = false"
      ></app-resume-exp>
    </ng-template>
    
  </div>
</main>
