<main class="container">
  <h1 id="title">Inicio de Sesión</h1>
  <div id="form">
    <form
      #projectForm="ngForm"
      (ngSubmit)="onSubmit(projectForm)"
      id="form-data"
    >
      <label for="user">NSS/Cedula</label>
      <br />
      <input
        type="text"
        id="user"
        name="username"
        #username="ngModel"
        [(ngModel)]="user.username"
        required
      />
      <br />
      
      <br />
      <label for="pass">Contraseña</label>
      <br />
      <input
        type="password"
        id="pass"
        name="password"
        #password="ngModel"
        [(ngModel)]="user.password"
        required
      />
      <br />
        <div *ngIf="this.error"  class="error">
          <p>Error: El Usuario o Contraseña son incorrectas</p>
        </div>
      
      <input type="submit" value="Iniciar Sesion" [disabled]="isLogging" />
    </form>
  </div>
</main>
