<table id="table-data">
  <thead>
    <tr>
      <th>#Expediente</th>
      <th>Nombre</th>
      <th>Apellido Materno</th>
      <th>Apellido Paterno</th>
      <th class="cellWatch"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of this.patients;">
      <td>{{p.expedient}}</td>
      <td>{{p.name}}</td>
      <td>{{p.fsurname}}</td>
      <td>{{p.lsurname}}</td>
      <td class="cellWatch"><input class='btnWatch' (click)="watchPatient(p)" type='button' value='Ver'/></td>
    </tr>
  </tbody>
</table>
