<table id="table-data">
  <thead>
    <tr>
      <th>#Expediente</th>
      <th>Nombre</th>
      <th>Apellido Materno</th>
      <th>Apellido Paterno</th>
      <th class="cellWatch"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>---</td>
      <td>---</td>
      <td>---</td>
      <td>---</td>
      <td class="cellWatch"><input class='btnWatch' type='button' value='Ver'/></td>
    </tr>
    <tr>
      <td>---</td>
      <td>---</td>
      <td>---</td>
      <td>---</td>
      <td class="cellWatch"><input class='btnWatch' type='button' value='Ver'/></td>
    </tr>
    <tr>
      <td>---</td>
      <td>---</td>
      <td>---</td>
      <td>---</td>
      <td class="cellWatch"><input class='btnWatch' type='button' value='Ver'/></td>
    </tr>
    <tr>
      <td>---</td>
      <td>---</td>
      <td>---</td>
      <td>---</td>
      <td class="cellWatch"><input class='btnWatch' type='button' value='Ver'/></td>
    </tr>
    <tr>
      <td>---</td>
      <td>---</td>
      <td>---</td>
      <td>---</td>
      <td class="cellWatch"><input class='btnWatch' type='button' value='Ver'/></td>
    </tr>
    <tr>
      <td>---</td>
      <td>---</td>
      <td>---</td>
      <td>---</td>
      <td class="cellWatch"><input class='btnWatch' type='button' value='Ver'/></td>
    </tr>
    <tr>
      <td>---</td>
      <td>---</td>
      <td>---</td>
      <td>---</td>
      <td class="cellWatch"><input class='btnWatch' type='button' value='Ver'/></td>
    </tr>
    <tr>
      <td>---</td>
      <td>---</td>
      <td>---</td>
      <td>---</td>
      <td class="cellWatch"><input class='btnWatch' type='button' value='Ver'/></td>
    </tr>
    <tr>
      <td>---</td>
      <td>---</td>
      <td>---</td>
      <td>---</td>
      <td class="cellWatch"><input class='btnWatch' type='button' value='Ver'/></td>
    </tr>
  </tbody>
</table>
