<header>
  <div id="return">
    <img
      id="img-return"
      src="assets/img/arrows.svg"
      alt="Image Arrows pointing to the left"
      (click)="this.returnPage()"
    />
  </div>
  <div id="info">
    <img
      id="img-user"
      src="assets/img/user-placeholder.svg"
      alt="Image about current user"
    />
    <div>
      <div id="info-general">
        <div class="info-text">
          <h2 id="text-name">Nombre</h2>
          <h4>{{ this.exp.patient.name }}</h4>
        </div>
        <div class="info-text">
          <h2>Apellido M.</h2>
          <h4 id="text-fs">{{ this.exp.patient.fsurname }}</h4>
        </div>
        <div class="info-text">
          <h2>Apellido P.</h2>
          <h4 id="text-ls">{{ this.exp.patient.lsurname }}</h4>
        </div>
        <div class="info-text">
          <h2>Edad</h2>
          <h3 id="text-age">{{ this.exp.patient.age }}</h3>
        </div>
      </div>
      <div >
        <br>
        <span id="info-access" *ngIf="this.currentUser==='patient' && this.exp.statusAccess === 'pending' ">
          <h4>Alguien solicita acesso a su expediente </h4> <img id="img-alert" src="assets/img/alert.svg" (click)="acceptRequest()" alt="Img alert">
        </span>
      </div>
    </div>
  </div>
</header>
<main>
  <div *ngIf="this.record; then barRecord; else barRecords;"></div>
  <ng-template #barRecords>
    <app-bar-records (returnRecord)="this.record=!this.record" [records]="this.exp.records" [currentUser]="this.currentUser" ></app-bar-records>
  </ng-template>
  <ng-template #barRecord>
  <app-bar-details-record (returnRecord)="this.record=!this.record" [currentUser]="this.currentUser" ></app-bar-details-record>
</ng-template>

<app-bar-files [files]="this.exp.files" [currentUser]="this.currentUser"></app-bar-files>
</main>
